*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5;
}

body {
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 1.5;
}

h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  margin: 1rem 0 1.3rem;
  line-height: 1;
}

p {
  margin: 0;
}

/* Buttons */
.btn {
  border: 0;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.btn__image {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.btn--primary {
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
}

.btn--block {
  width: 100%;
}
